.nav-link, .navbar-brand {
    color: black !important;
}

#mainNav{
    background: white;
}

body {
    background: #F5F5F5;
}

::selection {
    background-color: #e1192c; /* Cor de fundo quando o texto é selecionado */
    color: #fff; /* Cor do texto selecionado */
  }
.paragrafo-historia {
    text-align: justify;
}

.negrito-historia {
    font-weight: bold;
}

.img-conquista {
    width: 30px;
}

.faixa-imagem {
    width: 80px;
    background-color: #f4463a;
}
.social-part .fa {
    padding-right:20px;
}

ul li a {
    margin-right: 20px;
}

i {
    color: #e1192c;
}

.btn-filiais {

 background-color: #f4464aba;
 color: white;
}

 .btn-filiais:hover {
    box-shadow: 0px 0px 30px #f4464aba;
    background-color: #f4464aba;
    color: white;
} 

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.aluno-faixa-preta {
    background: url(../assets/img/banner-faixa-preta.png) no-repeat center center;
    color: white;
    box-sizing: content-box;
    width: 100%;
}

.card-header-title > span {
    display: block;
    position: relative;
}
.card-header-title > span:hover {
    cursor: pointer;
}
.card-header-title > span:after {
    content: "\FE3E"; 
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 0;
}
.card-header-title > span[aria-expanded="true"]:after {
    content: "\FE3D"; 
    
}


.texto-italico {
    font-style: italic;
}

.unidades_cards {
    margin-top: 109px;
}

.unidades_foto_brooklyn_masmorra {
    height: 250px;
    width: 100%;
    background: url(../assets/img/brooklyn_masmorra_fachada.jpg) no-repeat center top;
    background-size: cover;
}

.maps-btn {
    background-color: #e1192c;
    color: white;
}

.maps-btn:hover {
    background-color: #f3081f;
    color: white;
    box-shadow: 0 0 50px #ff142bd2;
}

.unidades_brooklyn_masmorra_insta {
    margin-right: 0;
    color: black;
}

.und-icon-links {
    margin-right: 5px;
}

/* Animação pro Box Shadow do Card de Und */
@keyframes shadowAnimation {
    0% {
        box-shadow: 0 0 50px rgba(112, 112, 112, 0.048);
    }

    100% {
        box-shadow: 0 0 60px rgba(58, 58, 58, 0.493);
    }
  }

.und-brooklyn-masmorra:hover {
    box-shadow: 0 0 60px rgba(58, 58, 58, 0.493);
    animation: shadowAnimation .7s;
}